<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/myshopadmin/styles/dist/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/myshopadmin/styles/main.css") }}" />
        <title>{% block title %}Панель администратора!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 bg-primary">
                    <div class="small">
                        {{ "Extantion twig message"|bold|red }}
                    </div>
                    <div class="small">
                        {{ "absolute_url example : "|bold }}
                        {{ absolute_url('bundles/myshopdefault/images/banner.jpg') }}
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div id="app">
            {% block app %}
                <table border="1" style="width: 100%">
                    <tr>
                        <td colspan="2"><h3>Admin panel</h3> Welcome {{ app.user }}!!!</td>
                    </tr>
                    <tr>
                        <td valign="top" style="width: 400px">
                            <ul>
                                <li><a href="{{ path("myshop_admin_default_index") }}">Главная</a></li>
                                <li><a href="{{ path("myshop_admin_product_list") }}">Товары</a></li>
                                <li><a href="{{ path("myshop_admin_product_listbycategory", {id_category: 1}) }}">Товары по категориям</a></li>
                                <li><a href="{{ path("myshop_admin_category_list") }}">Категории товаров</a></li>
                                <li><a href="{{ path("myshop_admin_category_tree") }}">Категории в виде дерева</a></li>
                                <li><a href="{{ path("myshop_admin_default_homework") }}">Home Work List</a></li>
                            </ul>
                        </td>
                        <td valign="top">
                            {% for flash_message in app.session.flashBag.get('error') %}
                                <div class="flash_message err">
                                    ERROR : {{ flash_message }}
                                </div>
                            {% endfor %}
                            {% for flash_message in app.session.flashBag.get('success') %}
                                <div class="flash_message suc">
                                    SUCCESS : {{ flash_message }}
                                </div>
                            {% endfor %}
                            {% block body %}{% endblock %}
                        </td>
                    </tr>
                </table>
            </div>
            <script type="text/javascript" src="{{ asset('bundles/myshopadmin/js/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/myshopadmin/js/dist/bootstrap/bootstrap.min.js') }}"></script>
            {% block javascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>